/* Навигация (Строка/Блок)
  21 - Подключение шрифтов
  46 - Глобальные стили
  75 - Сниппеты
  95 - Шапка
    146 - Шапка - левый блок с поиском и каталогом
    251 - Шапка - правый блок с навигацией
  347 - Main
  348 - Main - Слайдер










*/
/* Сторонние шрифты */
@font-face {
  font-family: 'Gilroy';
  src: url(../fonts/gilroyextrabold.woff2);
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: 'Gilroy';
  src: url(../fonts/gilroylight.woff2);
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'Open Sans';
  src: url(../fonts/opensans.woff2);
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'Open Sans';
  src: url(../fonts/opensanslight.woff2);
  font-style: normal;
  font-weight: lighter;
}
/* Глобальные стили */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  margin: 0;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: lighter;
  letter-spacing: 0.1px;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}
*:active {
  transition: none !important;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
img {
  user-select: none;
}
/* Сниппеты */
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding:0 !important;
  border:0 !important;
  height: 1px !important; 
  width: 1px !important; 
  overflow: hidden;
}
.container {
  margin: 0 auto;
  width: 1160px;
}

/* Общие стили кнопкам */

.button {
  position: relative;
  
  display: block;
  border: none;

  font-family: 'Gilroy', Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3.65px;
  vertical-align: middle;
  text-align: center;
  color: #000;
  background-color: transparent;
  cursor: pointer;
}
.button:focus {
  outline: none;
}
.button::before {
  content: "";

  position: absolute;
  left: 0;
  right: 0;
  top: calc(50% - 4px);
  z-index: -1;

  width: 100%;
  height: 8px;

  background-color: #f0c52e;
  transition: .3s;
}
.button:hover::before {
  top: -9px;
  height: 40px;
  transition: .3s;
  cursor: pointer;
}
.button:focus::before {
  top: -9px;
  height: 40px;
  transition: .3s;
  cursor: pointer;
}


/*------- Шапка --------*/
header {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  min-height: 225px;
  margin: 0;
  margin-bottom: 115px;
  padding: 0 60px;

  background-image: linear-gradient(to bottom, transparent 40px, #f7e296 40px);
}
.index-header::after {
  content: "";

  position: absolute;
  bottom: -115px;
  left: 0;
  right: 0;
  z-index: -1;

  height: 115px;
  width: 100%;
  background-color: #f7e296;
}
h1 {
  width: 100%;
  height: 30px;
  margin-top: 11px;
  margin-bottom: 0;

  font-family: 'Gilroy', Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 48px;
  text-transform: uppercase;
  user-select: none;
}
h1 a {
  color: black;
  transition: .3s;
}
h1 a:hover {
  opacity: .6;
  transition: .3s;
}
h1 a:active {
  opacity: .3;
}
/*------- Шапка - левый блок с поиском и каталогом --------*/
.header-left,
.header-right {
  margin-top: 0;
  width: 500px;
}
.search {
  position: relative;
  margin-top: 0;
  margin-bottom: 39px;
}
.search::before {
  content: "";

  position: absolute;
  left: 2px;
  top: 4px;

  width: 16px;
  height: 16px;
  background-image: url(../svg/search.svg);
}
.searchform {
  width: 300px;
  height: 30px;
  margin-top: -4px;
  padding-left: 85px;
  padding-left: 40px;
  border: 2px solid transparent;

  background-color: transparent;
  cursor: pointer;
}
.searchform:focus{
  outline: none;
  border-bottom: 2px solid black;
  cursor:text;
}
.searchform::placeholder {
  font-size: 15px;
  font-weight: lighter;
  opacity: .3;
}
.searchform:hover::placeholder {
  opacity: .6;
}
.searchform:focus::placeholder {
  opacity: 0;
}
.search-button {
  position: absolute;
  right: 130px;
  bottom: 0;
  width: 85px;
  height: 50px;
  border: 2px solid black;

  background-color: transparent;
  color: #000;
}
.search-button:hover {
  background-color: #000;
  color: #fff;
  cursor: pointer;
}
.search-button:active {
  background-color: #000;
  color: rgba(255, 255, 255, .6);
}
.header-catalog {
  position: relative;
  width: 250px;

  display: block;
  padding-right: 28px;
  padding-bottom: 3px;
  font-family: 'Gilroy', Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 3.65px;
  text-transform: uppercase;
  color: #000;
  transition: .3s;
}
.header-catalog:hover {
  opacity: .6;
  transition: .3s;
}
.header-catalog:active {
  opacity: .3;
}
.header-catalog::before,
.header-catalog::after {
  content: "";

  position: absolute;
  right: 0;
  top: 8px;
  width: 16px;
  height: 2px;

  background-color: #b8a974;
}
.header-catalog::after {
  transform: rotateZ(-90deg);
}
/*------- Шапка - правый блок с навигацией --------*/
.header-top-nav {
  display: flex;
}
.header-login {
  position: relative;
  width: 280px;
  padding-left: 28px;
  transition: .3s;
}
.header-login a::before {
  content: "";

  position: absolute;
  left: 0;
  top: 4px;

  width: 13px;
  height: 12px;

  background-image: url(../svg/user.svg);
}
.header-compare {
  position: relative;
  width: 120px;
  padding-left: 28px;
  transition: .3s;
}
.header-compare::before {
  content: "";

  position: absolute;
  left: 7px;
  top: 5px;

  width: 10px;
  height: 10px;

  background-image: url(../svg/compare.svg);
}
.header-cart {
  position: relative;
  width: 100px;
  margin-left: 37px;
  padding-left: 28px;
  transition: .3s;
}
.header-cart::before {
  content: "";

  position: absolute;
  left: 4px;
  top: 4px;

  width: 12px;
  height: 12px;

  background-image: url(../svg/cart.svg);
}
.header-top-nav a {
  color: #000;
}
.header-top-nav a:hover {
  opacity: .6;
  transition: .3s;
}
.header-top-nav a:active {
  opacity: .3;
}

.header-bottom-nav {
  display: flex;
}
.header-bottom-nav a {
  margin-top: 44px;
  font-family: 'Gilroy', Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 3.65px;
  text-transform: uppercase;
  color: #000;
  transition: .3s;
}
.header-bottom-delivery {
  margin-right: 35px;
}
.header-bottom-warranty {
  margin-right: 108px;
}
.header-bottom-nav a:hover {
  opacity: .6;
  transition: .3s;
}
.header-bottom-nav a:active {
  opacity: .3;
}
/*------- Main --------*/
/*------- Main - Слайдер --------*/
.slider {
  position: relative;
  margin-bottom: 110px;
}
.slider-wrapper {
  display: flex;
  justify-content: space-between;
}
.slider-img-1 {
  width: 384px;
  height: 486px;
  margin-left: 90px;
}
.slider-img-2 {
  width: 345px;
  height: 485px;
  margin-left: 90px;
}
.slider-img-3 {
  width: 526px;
  height: 334px;
  margin-left: 30px;
  margin-top: 70px;
}
.slider-desc {
  position: relative;

  width: 500px;
  margin-right: 60px;
  padding-top: 82px;
}
.slider-desc::before {
  content: "";

  position: absolute;
  left: 0;
  top: 39px;

  width: 100px;
  height: 7px;

  background-color: #fff;
}
.slider-number {
  position: absolute;
  right: -11px;
  top: -30px;
  z-index: -1;

  font-family: 'Gilroy', Arial, Helvetica, sans-serif;
  font-size: 179px;
  font-weight: 700;
  color: #fff;
  user-select: none;
}
.slider-tagline {
  width: 504px;
  margin: 0;
  margin-bottom: 17px;
  font-family: 'Gilroy', Arial, Helvetica, sans-serif;
  font-size: 47px;
  font-weight: 700;
  letter-spacing: 0.65px;
}
.slider-text {
  margin-bottom: 45px;
  line-height: 30px;
  color: #464646;
}
.slider-button {
  width: 220px;
  margin-bottom: 50px;
  color: #000;
}
.slider-table {
  border-collapse: collapse;
}
.slider-table-value {
  font-family: 'Gilroy', Arial, Helvetica, sans-serif;
  font-size: 36px;
}
.slider-table-desc {
  font-size: 13px;
  font-weight: lighter;
  color: #464646;
}
.slider-table-value td {
  padding-bottom: 9px;
  padding-right: 70px;
}
.slider-table-desc td {
  padding-right: 70px;
}
.slider-bullets {
  position: absolute;
  right: 81px;
  bottom: 150px;
  z-index: 10;

  display: flex;
  justify-content: space-between;
  width: 80px;
}
.slider-bullet {
  width: 12px;
  height: 12px;
  background-color: transparent;
  background-image: url(../svg/slider-button-empty.svg);
  background-size: 12px 12px;
  border: none;
  cursor: pointer;
}
.slider-bullet-current {
  background-image: url(../svg/slider-button.svg);
}
/* ------ Main - Категории товаров ------ */
.category-list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 65px;
}
.category-item {
  width: 160px;
}
.category-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 160px;
  margin-bottom: 32px;

  background-color: #f7e296;
  transition: .3s;
}
.category-img-monopod {
  align-items: flex-end;
}
.category-name {
  font-family: 'Gilroy', Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: #000;
}
.category-link:hover .category-img{
  background-color: #f0c52e;
  transition: .3s;
}
.category-link:focus .category-img{
  background-color: #f0c52e;
  transition: .3s;
}
.category-link:active img,
.category-link:active h3{
  opacity: .3;
}
/* ----- Main - Сервисы ----- */

.services {
  position: relative;

  min-height: 390px;
  margin-bottom: 100px;
}
.services::before {
  content: "";

  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;

  height: 390px;
  background-image: linear-gradient(to bottom, transparent 100px, #e5e5e5 100px);
}
.services .container {
  display: flex;
}
.service-button-wrapper {
  width: 280px;
  min-height: 320px;
  padding-top: 88px;
  border-right: 7px solid black;
}
.service-button {
  width: 160px;
  margin-bottom: 42px;
}
.service-button-current {
  color: #f7e184;
  cursor: default;
}
.service-button-current::before {
  top: -9px;
  width: 280px;
  height: 40px;
  background-color: black;
}
.service-button-current:hover::before {
  top: -9px;
  width: 280px;
  height: 40px;
  background-color: black;
}

.service-desc-delivery,
.service-desc-warranty,
.service-desc-credit {
  width: 580px;
  padding-left: 120px;
  padding-top: 20px;
}
.service-desc-tagline {
  margin-bottom: 26px;
  font-family: 'Gilroy', Arial, Helvetica, sans-serif;
  font-size: 47px;
  font-weight: 700;
  color: black;
}
.service-desc-text {
  color: #464646;
  line-height: 30px;
}
.service-desc-delivery::after {
  content: "";

  position: absolute;
  right: 125px;
  top: 85px;

  width: 136px;
  height: 164px;
  background-image: url(../svg/delivery.svg);
}
.service-desc-warranty::after {
  content: "";

  position: absolute;
  right: 125px;
  top: 85px;

  width: 171px;
  height: 194px;
  background-image: url(../svg/warranty.svg);
}
.service-desc-credit::after {
  content: "";

  position: absolute;
  right: 125px;
  top: 85px;

  width: 156px;
  height: 186px;
  background-image: url(../svg/credit.svg);
}
/*------- Main - Бренды -------*/
.brands {
  margin-bottom: 86px;
}
.brand-list {
  display: flex;
  justify-content: space-between;
}
.brand-item {
  width: 260px;
  height: 100px;
}
.brand-link-1 {
  display: block;
  width: 260px;
  height: 100px;
  background-image: url(../img/logo-dji.png);
  transition: .3s;
}
.brand-link-1:hover,
.brand-link-1:focus {
  outline: none;
  background-image: url(../img/logo-dji-hover.png);
  transition: .3s;
}
.brand-link-1:active {
  opacity: .3;
}
.brand-link-2 {
  display: block;
  width: 260px;
  height: 100px;
  background-image: url(../img/logo-sp.png);
  transition: .3s;
}
.brand-link-2:hover,
.brand-link-2:focus {
  outline: none;
  background-image: url(../img/logo-sp-hover.png);
  transition: .3s;
}
.brand-link-2:active {
  opacity: .3;
}
.brand-link-3 {
  display: block;
  width: 260px;
  height: 100px;
  background-image: url(../img/logo-gopro.png);
  transition: .3s;
}
.brand-link-3:hover,
.brand-link-3:focus {
  outline: none;
  background-image: url(../img/logo-gopro-hover.png);
  transition: .3s;
}
.brand-link-3:active {
  opacity: .3;
}
.brand-link-4 {
  display: block;
  width: 260px;
  height: 100px;
  background-image: url(../img/logo-vive.png);
  transition: .3s;
}
.brand-link-4:hover,
.brand-link-4:focus {
  outline: none;
  background-image: url(../img/logo-vive-hover.png);
  transition: .3s;
}
.brand-link-4:active {
  opacity: .3;
}

/* ------- Main - Блок о Нас и Контакты ------*/
.about-contacts-wrapper {
  display: flex;
  margin-bottom: 85px;
}
.about-us {
  position: relative;
  width: 480px;
  padding-top: 9px;
}
.about-us::before,
.contacts::before {
  content: "";

  position: absolute;
  top: 0;
  left: 0;

  width: 80px;
  height: 7px;

  background-color: #000;
}
.about-tagline {
  font-family: 'Gilroy', Arial, Helvetica, sans-serif;
  font-size: 47px;
  font-weight: 700;
  color: #000;
  margin-bottom: 38px;
}
.about-text {
  line-height: 30px;
  margin-bottom: 30px;
}
.about-delivery-list {
  padding-top: 35px;
  margin-bottom: 63px;
}
.about-delivery-item {
  position: relative;
  padding-left: 38px;
  font-family: 'Gilroy', Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 40px;
}
.about-delivery-item::before {
  content: "";

  position: absolute;
  left: 0;
  top: 16px;

  width: 8px;
  height: 8px;
  border: 2px solid #e4e4e4;
  border-radius: 50%;
}
.about-button {
  width: 260px;
}

.contacts {
  position: relative;
  width: 560px;
  margin-left: 120px;
  padding-top: 9px;
}
.contacts img {
  width: 560px;
  height: 222px;
  margin-bottom: 74px;
}
.contacts p {
  margin-bottom: 38px;
}
.contacts-button {
  width: 260px;
}
/* ------- Footer ------*/
.main-footer {
  min-height: 325px;
  padding-top: 50px;
  background: #464646;
}
.footer-top {
  display: flex;
  margin-bottom: 21px;
}
.footer-logo {
  margin-top: 11px;
  margin-bottom: 0;

  font-family: 'Gilroy', Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 48px;
  text-transform: uppercase;
  user-select: none;
  color: #ffc600;
}
.footer-top a {
  color: #fff;
}
.footer-user-nav {
  margin-top: 25px;
  width: 325px;
  margin-left: 670px;
}
.footer-login {
  position: relative;
  padding-left: 28px;
  transition: .3s;
}
.footer-compare {
  position: relative;
  padding-left: 22px;
  margin-left: 37px;
  transition: .3s;
}
.footer-cart {
  position: relative;
  padding-left: 22px;
  margin-left: 35px;
  transition: .3s;
}
.footer-login::before {
  content: "";

  position: absolute;
  left: 0;
  top: 4px;

  width: 13px;
  height: 12px;

  background-image: url(../svg/user-footer.svg);
}
.footer-compare::before {
  content: "";

  position: absolute;
  left: 0;
  top: 4px;

  width: 10px;
  height: 10px;

  background-image: url(../svg/compare-footer.svg);
}
.footer-cart::before {
  content: "";

  position: absolute;
  left: 0;
  top: 4px;

  width: 12px;
  height: 12px;

  background-image: url(../svg/cart-footer.svg);
}
.footer-login:hover,
.footer-compare:hover,
.footer-cart:hover {
  opacity: .6;
  transition: .3s;
}
.footer-login:active,
.footer-compare:active,
.footer-cart:active {
  opacity: .3;
}
.footer-middle {
  display: flex;
  justify-content: space-between;
}
.footer-middle-nav {
  display: flex;
  justify-content: space-between;
  width: 430px;
  margin-left: -35px;
}
.footer-middle span {
  color: #fff;
}
.footer-middle a {
  font-family: 'Gilroy', Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 3.65px;
  text-transform: uppercase;
  color: #fff;
}






.hide {
  display: none;
}
.show {
  display: block;
}